html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

body,
html {
  width: 800px;
  height: 235px;
  overflow: hidden;
}

.workspace {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

.workspace__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -2px;
  margin-top: -4px;
}

.workspace__banner-title {
  width: 668px;
  height: 48px;
  display: block;
  background: url("./titulo.png") center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.workspace__cover-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (170px)[4];
      grid-template-columns: repeat(4, 170px);
  grid-gap: 25px;
  height: 170px;
  margin-top: 5px;
}

.workspace__cover {
  position: relative;
  background-size: 100% 100% !important;
  height: 170px;
}

.workspace__cover:hover {
  cursor: pointer;
}

.workspace__cover:hover .hide {
  display: none;
}

.workspace__cover:hover .workspace__play {
  -webkit-animation: fadeOut 0.4s ease 1 forwards;
          animation: fadeOut 0.4s ease 1 forwards;
}
.workspace__cover:not(:hover) .workspace__play {
  -webkit-animation: fadeIn 0.4s ease 1 forwards;
          animation: fadeIn 0.4s ease 1 forwards;
}

.workspace__cover:nth-child(1) {
  -webkit-animation: fadeIn 0.75s 0s ease 1 forwards;
          animation: fadeIn 0.75s 0s ease 1 forwards;
  border: 1px white;
}

.workspace__cover:nth-child(2) {
  -webkit-animation: fadeIn 0.75s 0.5s ease 1 forwards;
          animation: fadeIn 0.75s 0.5s ease 1 forwards;
  border: 1px white;
}

.workspace__cover:nth-child(3) {
  -webkit-animation: fadeIn 0.75s 1s ease 1 forwards;
          animation: fadeIn 0.75s 1s ease 1 forwards;
  border: 1px white;
}

.workspace__cover:nth-child(4) {
  -webkit-animation: fadeIn 0.75s 1.5s ease 1 forwards;
          animation: fadeIn 0.75s 1.5s ease 1 forwards;
  border: 1px white;
}

.workspace__play {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workspace__play:hover {
  opacity: 1;
}

.workspace .cupido_1 {
  background-color: rgba(255, 255, 255, 0.3);
}

.workspace .cupido_2 {
  background-color: rgba(219, 8, 8, 0.3);
}

.workspace .cupido_3 {
  background-color: rgba(136, 43, 223, 0.562);
}

.workspace .cupido_4 {
  background-color: rgba(238, 220, 56, 0.616);
}

.workspace .workspace__emoji1 {
  -webkit-animation: float 3.5s ease-in-out infinite;
          animation: float 3.5s ease-in-out infinite;
}

.workspace .workspace__emoji2 {
  -webkit-animation: float 3.5s ease-in-out infinite;
          animation: float 3.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.workspace .workspace__emoji3 {
  -webkit-animation: float 3.5s ease-in-out infinite;
          animation: float 3.5s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.workspace .workspace__emoji4 {
  -webkit-animation: float 3.5s ease-in-out infinite;
          animation: float 3.5s ease-in-out infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.effect_1 {
  width: 24px;
  height: 20px;
  position: absolute;
  z-index: 10;
  background-image: url(./beso.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-animation: floating_hearts 2.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: floating_hearts 2.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes floating_hearts {
  0% {
    opacity: 0;
    bottom: 50%;
    left: 30%;
  }
  30% {
    opacity: 1;
    bottom: 55%;
    left: 25%;
  }
  50% {
    opacity: 1;
    bottom: 60%;
    left: 20%;
  }
  70% {
    opacity: 1;
    bottom: 70%;
    left: 22%;
  }
  90% {
    opacity: 0.5;
    bottom: 80%;
    left: 25%;
  }
  100% {
    opacity: 0;
    bottom: 85%;
    left: 20%;
  }
}

@keyframes floating_hearts {
  0% {
    opacity: 0;
    bottom: 50%;
    left: 30%;
  }
  30% {
    opacity: 1;
    bottom: 55%;
    left: 25%;
  }
  50% {
    opacity: 1;
    bottom: 60%;
    left: 20%;
  }
  70% {
    opacity: 1;
    bottom: 70%;
    left: 22%;
  }
  90% {
    opacity: 0.5;
    bottom: 80%;
    left: 25%;
  }
  100% {
    opacity: 0;
    bottom: 85%;
    left: 20%;
  }
}

.effect_1:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.effect_1:nth-child(2) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.effect_1:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.effect_2 {
  width: 24px;
  height: 20px;
  position: absolute;
  z-index: 10;
  background-image: url(./corazon.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-animation: kisses 1.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: kisses 1.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes kisses {
  0% {
    opacity: 0;
    bottom: 45%;
    left: 78%;
  }
  50% {
    opacity: 1;
    bottom: 55%;
    left: 83%;
  }
  100% {
    opacity: 0;
    bottom: 65%;
    left: 72%;
  }
}

@keyframes kisses {
  0% {
    opacity: 0;
    bottom: 45%;
    left: 78%;
  }
  50% {
    opacity: 1;
    bottom: 55%;
    left: 83%;
  }
  100% {
    opacity: 0;
    bottom: 65%;
    left: 72%;
  }
}

.effect_2:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.effect_2:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.effect_2:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.effect_2:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.effect_3 {
  width: 24px;
  height: 20px;
  position: absolute;
  z-index: 10;
  background-image: url(./lagrima.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-animation: tear_left 1.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: tear_left 1.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes tear_left {
  0% {
    opacity: 0.5;
    bottom: 50%;
    left: 33%;
  }
  30% {
    opacity: 1;
    bottom: 45%;
    left: 28%;
  }
  50% {
    opacity: 1;
    bottom: 40%;
    left: 24%;
  }
  70% {
    opacity: 1;
    bottom: 35%;
    left: 21%;
  }
  100% {
    opacity: 0;
    bottom: 30%;
    left: 18%;
  }
}

@keyframes tear_left {
  0% {
    opacity: 0.5;
    bottom: 50%;
    left: 33%;
  }
  30% {
    opacity: 1;
    bottom: 45%;
    left: 28%;
  }
  50% {
    opacity: 1;
    bottom: 40%;
    left: 24%;
  }
  70% {
    opacity: 1;
    bottom: 35%;
    left: 21%;
  }
  100% {
    opacity: 0;
    bottom: 30%;
    left: 18%;
  }
}

@-webkit-keyframes tear_right {
  0% {
    opacity: 0.5;
    bottom: 50%;
    left: 55%;
  }
  30% {
    opacity: 1;
    bottom: 45%;
    left: 60%;
  }
  50% {
    opacity: 1;
    bottom: 40%;
    left: 64%;
  }
  70% {
    opacity: 1;
    bottom: 35%;
    left: 67%;
  }
  100% {
    opacity: 0;
    bottom: 30%;
    left: 70%;
  }
}

@keyframes tear_right {
  0% {
    opacity: 0.5;
    bottom: 50%;
    left: 55%;
  }
  30% {
    opacity: 1;
    bottom: 45%;
    left: 60%;
  }
  50% {
    opacity: 1;
    bottom: 40%;
    left: 64%;
  }
  70% {
    opacity: 1;
    bottom: 35%;
    left: 67%;
  }
  100% {
    opacity: 0;
    bottom: 30%;
    left: 70%;
  }
}

.effect_3:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.effect_3:nth-child(2) {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-animation: tear_right 1.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: tear_right 1.5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.effect_4 {
  width: 24px;
  height: 20px;
  position: absolute;
  z-index: 10;
  background-image: url(./nota_musical.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

@-webkit-keyframes note1 {
  0% {
    opacity: 0;
    bottom: 45%;
    left: 20%;
  }
  30% {
    opacity: 1;
    left: 16%;
  }
  50% {
    left: 19%;
  }
  70% {
    left: 15%;
  }
  100% {
    opacity: 0;
    bottom: 82%;
    left: 10%;
  }
}

@keyframes note1 {
  0% {
    opacity: 0;
    bottom: 45%;
    left: 20%;
  }
  30% {
    opacity: 1;
    left: 16%;
  }
  50% {
    left: 19%;
  }
  70% {
    left: 15%;
  }
  100% {
    opacity: 0;
    bottom: 82%;
    left: 10%;
  }
}

@-webkit-keyframes note2 {
  0% {
    opacity: 0;
    bottom: 50%;
    left: 33%;
  }
  50% {
    opacity: 1;
    left: 28%;
  }
  70% {
    left: 30%;
  }
  100% {
    opacity: 0;
    left: 26%;
    bottom: 83%;
  }
}

@keyframes note2 {
  0% {
    opacity: 0;
    bottom: 50%;
    left: 33%;
  }
  50% {
    opacity: 1;
    left: 28%;
  }
  70% {
    left: 30%;
  }
  100% {
    opacity: 0;
    left: 26%;
    bottom: 83%;
  }
}

@-webkit-keyframes note3 {
  0% {
    opacity: 0;
    bottom: 45%;
    left: 50%;
  }
  50% {
    opacity: 1;
    left: 70%;
  }
  70% {
    left: 68%;
  }
  90% {
    left: 72%;
  }
  100% {
    opacity: 0;
    bottom: 80%;
    left: 70%;
  }
}

@keyframes note3 {
  0% {
    opacity: 0;
    bottom: 45%;
    left: 50%;
  }
  50% {
    opacity: 1;
    left: 70%;
  }
  70% {
    left: 68%;
  }
  90% {
    left: 72%;
  }
  100% {
    opacity: 0;
    bottom: 80%;
    left: 70%;
  }
}

.effect_4:nth-child(2) {
  -webkit-animation: note1 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: note1 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.effect_4:nth-child(3) {
  -webkit-animation: note3 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: note3 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.effect_4:nth-child(4) {
  -webkit-animation: note2 1.9s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: note2 1.9s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
